<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Required meta tags -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <!-- Google font -->

    <!-- Custom stylesheet -->
    <link href="/css/error.css" rel="stylesheet" type="text/css"/>
    <!-- Custom stylesheet -->

    <!-- Web title -->
    <title>Error</title>
    <!-- Web title -->
</head>

<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2 th:text="'404 - ' + #{error.page-not-found}"></h2>
        <p th:text="#{error.try-again} + ' &#x1f30c;'"></p>
        <a href="/" th:text="#{error.go-home}"></a>
    </div>
</div>
</body>
</html>
